<!DOCTYPE html>
<html>
    <head>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='dist/css/output.css') }}"
        />
    </head>
    <body class="bg-red-300">
        <p id="title">Portfolio :3</p>
        <ul>

            <section id="newsSite">
                <p>News Site</p>
                <p>A custom News Site </p>
                <a href="https://github.com/MHWatchy/news-server-frontend">Github Repo Link</a >
                <a href="https://mhwatchy-news-site.netlify.app/">Hosted Site Link</a >
            </section>

            <section id="newsSiteApi">
                <p>News Site Api</p>
                <p>Description, include what it does and tech stack</p>
                <a href="https://github.com/MHWatchy/news-server-project">Github Repo Link</a >
                <a href="https://news-server-k1ka.onrender.com/api">Hosted Site Link</a >
            </section>

            <section id="treasureHunt">
                <p>Treasure Hunt</p>
                <p>Description, include what it does and tech stack</p>
                <a href="https://github.com/ELR143/treasure-hunt-frontend">Github Repo Link</a >
                <a href="https://treasure-hunters.netlify.app/map">Hosted Site Link</a >
            </section>

            <section id="treasureHuntApi">
                <p>Treasure Hunt Api</p>
                <p>Description, include what it does and tech stack</p>
                <a href="https://github.com/LW95x/treasure-hunt-backend-host">Github Repo Link</a >
                <a href="https://treasure-hunt-backend-test.onrender.com/#/">Hosted Site Link</a >
            </section>

        </ul>
    </body>
</html>
